<div class='preregis-page'>
  <div class='preregis-page-container'>
    <header class='preregis-header'>
      <div class='preregis-header-wrap'>
        <h1>
          <a>Vinclo</a>
        </h1>
      </div>
    </header>
    <div class='preregis-container'>
      <div class='preregis-main'>
        <section>
          <div class='preregis-confirmation'>
            <h1 class='fs-16 fw-700'>会員登録用メール送付</h1>
            <div class='preregis-confirmation-email'>
              <% if @resource.nil? %>
                <p>以下のボタンから再度登録をお願いします。</p>
              <% else %>
                <p><%= @resource['email'] %></p>
                <p class='preregis-confirmation-text fs-16'>
                  メールに記載されているリンクを
                  <br class='fs-16'>
                  クリックし登録を完了させてください。
                </p>
              <% end %>
            </div>
          </div>
        </section>
        <p class='preregis-confirmation-sub fs-12'>
          ※メールが届かない場合は、メールアドレスが間違っている可能性がございます。
          <br>
          もう一度ご確認の上、再度お試しください。
          <br>
          ログイン登録が完了した場合は、このページを閉じてもらってかまいません。
        </p>
        <p class='register-button'>
          <%= link_to 'メールが届かない方はこちら', new_user_registration_path, class: 'register-button-a' %>
        </p>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'users/shared/footer_bottom' %>