<section class='recent-reviews-section'>
  <div class='recent-reviews-container'>
    <h2 class='recent-reviews-title fw-700'>最新のレビュー</h2>
    <div class='recent-reviews-wrap'>
      <ul class='sar-image-ul'>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt'>
                <%= image_tag 'cloth1-1.jpg' %>
              </dt>
              <dd class='sar-image-title fs-14'>cloth1</dd>
              <dd class='sar-image-sub fs-12'>user1</dd>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-tshirt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-tshirt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-tshirt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-tshirt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-tshirt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-tshirt"></i>
              </dt>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>