$white: rgb(255, 255, 255);
$black:  rgb(34, 34, 34);
$gray: #eee;
$red: rgb(234, 53, 45);
$blue: rgb(0, 149, 238);
$green: rgb(8, 117, 8);

$shadow: rgb(0, 0, 0);

$input-bg:  rgb(245, 245, 245);

$a-blue: #07519a;

$border: rgb(204, 204, 204);

$Line: rgb(35, 196, 29);
$Twitter: rgb(7, 156, 224);