<section class='recent-notifications-container'>
  <div class='recent-notifications-text-container'>
    <p class='recent-notifications-p'>
      <a class='recent-notifications-a'>
        <span class='recent-notifications-span'>新型コロナウイルス拡大及び緊急事態宣言における対応のお願い</span>
        <i class="fas fa-chevron-right"></i>
      </a>
    </p>
  </div>
</section>