<nav class='footer-top-container'>
  <div class='footer-top-nav-container'>
    <h2 class='footer-top-nav-head fs-16 fw-600'>
      ビンクロについて
    </h2>
    <ul class='footer-top-nav-ul'>
      <li class='footer-top-nav-li'>
        <a class='footer-top-nav-a'>
          会社概要
        </a>
      </li>
    </ul>
  </div>

  <div class='footer-top-nav-container'>
    <h2 class='footer-top-nav-head fs-16 fw-600'>
      プライバシーと利用規約
    </h2>
    <ul class='footer-top-nav-ul'>
      <li class='footer-top-nav-li'>
        <a class='footer-top-nav-a'>
          ビンクロ利用規約
        </a>
      </li>
      <li class='footer-top-nav-li'>
        <a class='footer-top-nav-a'>
          プライバシーポリシー
        </a>
      </li>
    </ul>
  </div>

  <div class='footer-top-nav-container'>
    <h2 class='footer-top-nav-head fs-16 fw-600'>
      ヘルプ
    </h2>
    <ul class='footer-top-nav-ul'>
      <li class='footer-top-nav-li'>
        <a class='footer-top-nav-a'>
          よくある質問
        </a>
      </li>
      <li class='footer-top-nav-li'>
        <a class='footer-top-nav-a'>
          ご意見・ご要望
        </a>
      </li>
    </ul>
  </div>
</nav>