<div class='header-top-container'>
  <div class='site-name-container'>
    <%= link_to 'Vinclo', root_path, class:'site-name-a fs-30 fw-700' %>
  </div>
  <form class='store-search-container'>
    <%# <input type='search' placeholder='店名を入力して古着屋を検索' class='store-search-input fs-16'> %>
    <button class='search-button'>
      <%# <i class="fas fa-search"></i> %>
    </button>
  </form>
</div>