<div class='header-bottom-container'>
  <div class='header-bottom-selector-container'>
    <div class='header-bottom-selector'>
      <a class='header-bottom-selector-a fs-14 fw-600'>
        <i class="fas fa-home"></i>
        セレクター1
      </a>
    </div>
  </div>
  <div class='header-bottom-button'>
    <div class='register-button'>
      <a class='register-button-a fs-14'>
        新規会員登録
      </a>
    </div>
    <div class='login-button'>
      <a class='login-button-a fs-14'>
        ログイン
      </a>
    </div>
  </div>
</div>