.have-many-reviews-section {
  margin-top: 0;
  padding-bottom: 4rem;
  background-color: $white;

  .have-many-reviews-container {
    width: 940px;
    margin: 0 auto;
    padding: 4rem 0 0;
    position: relative;
    border-top: 4px solid $gray;

    .have-many-reviews-title {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 1.3rem;
    }

    .have-many-reviews-wrap {
      margin-top: 3.6rem;
      padding: 0;
    }
  }
}