<section class='have-many-reviews-section'>
  <div class='have-many-reviews-container'>
    <h2 class='have-many-reviews-title fw-700'>人気のお店</h2>
    <div class='have-many-reviews-wrap'>
      <ul class='sar-image-ul'>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt'>
                <%= image_tag 'store1.jpg' %>
              </dt>
              <dd class='sar-image-title fs-14'>store1</dd>
              <dd class='sar-image-sub fs-12'>東京</dd>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='sar-image-li'>
          <a class='sar-image-a'>
            <dl class='sar-image-dl'>
              <dt class='sar-image-dt sar-image-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>