<section class='user-histories-section'>
  <div class='user-histories-wrap'>
    <div class='user-histories-box'>
      <h2 class='user-histories-title fs-14 user-histories-title-is-active' data-id='user-histories-check-title'>最近チェックしたお店</h2>
      <h2 class='user-histories-title fs-14' data-id='user-histories-review-title'>レビューしたお店</h2>
    </div>
    <div class='user-histories-container' id='user-histories-check-title'>
      <ul class='user-histories-ul'>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt'>
                <%= image_tag 'store1.jpg' %>
              </dt>
              <dd class='user-histories-stores-name fs-14'>store1</dd>
              <dd class='user-histories-prefecture fs-12'>東京</dd>
            </dl>
          </a>
        </li>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt user-histories-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt user-histories-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt user-histories-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt user-histories-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt user-histories-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
        <li class='user-histories-li'>
          <a class='user-histories-a'>
            <dl class='user-histories-dl'>
              <dt class='user-histories-dt user-histories-dt-empty'>
                <i class="fas fa-store-alt"></i>
              </dt>
            </dl>
          </a>
        </li>
      </ul>
    </div>
    <div class='user-histories-container user-histories-container-not-active' id='user-histories-review-title'>
      <div class='user-histories-login fs-14'>
        <p class='user-histories-p'>レビューしたお店を見るにはログインが必要です</p>
        <a class='user-histories-login-button fw-700'>ログインする</a>
      </div>
    </div>
  </div>
</section>

            