.search-prefectures-section {
  margin-top: 0;
  padding-bottom: 2rem;
  background-color: $white;

  .search-prefectures-container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 0;
    position: relative;

    .search-prefectures-title {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 1.3rem;
    }

    .search-prefectures-button-container {
      margin-top: 3.6rem;
      padding: 0;

      .search-prefectures-button-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {

          .search-prefectures-button-a {
            padding: .3rem .1rem;
            color: $black;
            display: block;
            text-decoration: none;

            &:hover {
              cursor: pointer;
            }

            .search-prefectures-button-span {
              padding: .5rem 1.7rem;
              border-radius: 42px;
              border: 1px solid $border;
              display: block;
              transition: all 0.3s ease-out 0s;
              @include pc {
                font-size: .8rem;
              };
              @include tab {
                font-size: 1.6rem;
              };
              @include sp {
                font-size: 1.6rem;
              };

              &:hover {
                border: 1px solid $red;
              }
            }
          }
        }
      }
    }
  }
}