.ps-main {
  width: 100%;
  background-color: $white;

  .ps-show-container {
    padding: 30px 0;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    @include pc {
      display: flex;
    };
    @include tab {
    };
    @include sp {
    };
    
    .ps-side-wrap {
      min-width: 280px;
      max-width: 320px;

      .ps-side-area-search {
        position: relative;
        margin-bottom: 16px;
        padding: 12px;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        background: $beige-bg;

        .ps-side-area-search-main {
          border-radius: 4px;
          width: 100%;
          box-sizing: border-box;
          background: $white;

          .ps-side-area-search-header {
            padding: 15px 12px;
          }

          .ps-side-area-search-item {
            position: relative;
            line-height: 1.4;

            .ps-side-city-a {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 15px 20px 14px;
              border-left: none;
              border-bottom: none;
              background: $beige-bg-2;
              border-top: solid 1px $beige-bg-3;

              &:hover {
                cursor: pointer;
                color: $pagenation-hover-btn;
              }
            }

            .ps-side-area-search-mw {
              position: absolute;
              margin-left: 172px;
              z-index: 500;
              left: auto;
              right: 0;
              transform: translateX(100%);

              .ps-side-area-search-mw-main {
                position: relative;
                margin-left: 20px;
                padding: 20px;
                box-sizing: border-box;
                position: absolute;
                left: -300px;
                border: 1px solid $photo-btn-color;
                border-radius: 4px;
                box-shadow: 0 1px 3px $times-color;
                background-color: $white;

                .ps-side-area-search-mw-head {
                  width: 100%;
                  background: $photo-preview-bg;
                  border-top: 1px solid $beige-bg;
                  border-bottom: 1px solid $nav-border;
                  margin-bottom: 12px;
                  box-sizing: border-box;

                  ul {
                    margin-top: 6px;
                    margin-left: 12px;
                    margin-bottom: 0;
                    color: $black;
                    list-style: none;

                    a {
                      display: block;
                      position: relative;
                      padding: 0.5em 1em;
                    }
                  }
                }

                .ps-side-area-search-mw-city-item {

                  .ps-side-area-search-mw-city-list {
                    display: table;
                    margin-bottom: 16px;
                    width: 100%;
                    table-layout: fixed;

                    ul {
                      display: table-cell;
                      padding-right: 8px;
                      box-sizing: border-box;
                      list-style: none;

                      a {
                        display: block;
                        padding: 4px 0;
                        color: $a-blue;

                        &:hover {
                          color: $pagenation-hover-btn;
                          text-decoration: underline;
                          cursor: pointer;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .ps-wrap {
      width: 90%;
      min-width: 90%;
      max-width: 90%;
      margin-left: 15px;
      
      .ps-main {
        position: relative;
        padding: 18px 20px 20px;
        background-color: $photo-preview-bg;
      }
      
      .ps-main-nav-container {
        
        .ps-main-nav-wrap {
          padding: 0;
          border-bottom: 0 solid $nav-border;
          display: table;
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          table-layout: fixed;
          background-color: $photo-preview-bg;
          margin: 0;
          
          li {
            display: table-cell;
            position: relative;
            border-bottom: 1px solid $nav-border;
            
            a {
              text-decoration: none;
              color: $black;
              
              div {
                display: block;
                padding: 15px 0;
                border-top: 1px solid $photo-preview-bg;
              }
            }
          }
          
          .cloth-stores-list {
            
            &:not(.is-active) {
              
              div {
                
                &:hover {
                  border-top: 1px solid $red;
                  color: $red;
                }
              }
            }
          }
          
          .reviews-list {
            
            &:not(.is-active) {
              
              div {
                
                &:hover {
                  border-top: 1px solid $reviews-list;
                  color: $reviews-list;
                }
              }
            }
          }
          
          .is-active {
            background-color: $white;
            border-bottom: 1px solid $white;
            
            &.cloth-stores-list {
              color: $red;
              border-top: 1px solid $red;
              border-right: 1px solid $nav-border;
            }
            
            &.reviews-list {
              color: $reviews-list;
              border-top: 1px solid $reviews-list;
              border-left: 1px solid $nav-border;
            }
          }
        }
      }
      
      .ps-info-container {
        margin-top: 15px;
        
        .ps-info-wrap {
          border-top: solid 1px $photo-btn-border;
          position: relative;
          text-align: left;
          @media screen and (max-width: 759px) {
            display: flex;
            flex-direction: row-reverse;
          }
          
          .ps-info-store-container {
            
            .ps-info-store-body {
              min-height: 320px;
              @media screen and (min-width: 760px) {
                padding: 0 0 0 240px;
              }
              @media screen and (max-width: 759px) {
                margin: 0 auto;
              }
              
              .ps-info-store-contents {
                display: block;
                table-layout: inherit;
                margin-bottom: 10px;
                width: 100%;
                box-sizing: border-box;
                @media screen and (min-width: 760px) {
                  padding-top: 20px;
                }
                @media screen and (max-width: 759px) {
                  padding-top: 300px;
                }
                
                .ps-info-store-container {
                  
                  .ps-info-store-name {
                    display: table;
                    width: 100%;
                    box-sizing: border-box;
                    
                    .cloth-store-link {
                      text-decoration: none;
                      color: $black;
                      display: inline-block;
                      
                      .ps-info-store-name-kana {
                        margin: 15px 0 0 0;
                        padding-bottom: 15px;
                        text-indent: 0;
                        border-bottom: 1px solid $name-kana-border;
                      }
                    }
                    
                  }
                }
              }
            }
          }
          
          .ps-info-star-container {
            margin-top: 10px;
            
            .ps-info-average-score {
              display: flex;
              align-items: center;
              
              .star-rating {
                position: relative;
                width: 5em;
                font-size: 25px;
                
                .star-rating-front {
                  position: absolute;
                  top: 0;
                  left: 0;
                  overflow: hidden;
                  color: $star;
                }
                .star-rating-back {
                  color: $nav-border;
                }
              }
              
              .average-score-display {
                margin-left: 10px;
                
                .average-score-num {
                  color: $red;
                }
              }
            }
          }
          
          .ps-info-average-price-container {
            margin-top: 10px;
          }
          
          .ps-info-address-container {
            margin-top: 10px;
          }
          
          .ps-latest-review {
            margin-top: 15px;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: $beige-bg-2;
            padding: 8px;
            border-bottom: 1px solid $border;
            width: 80%;
            
            .ps-review-title {
              text-decoration: none;
            }
            
            .ps-review-text {
              display: block;
            }
          }
          
          .ps-info-image-container {
            position: absolute;
            top: 20px;
            left: 0;
            width: 220px;
            
            .gallery-top {
              height: 100%;
              width: 100%;
              overflow: hidden;
              position: relative;
              
              .swiper-wrapper {
                
                .swiper-slide {
                  width: 100%;
                  img {
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
            
            .gallery-thumbs {
              overflow: hidden;
              height: 70px;
              display: block;
              padding: 2px;
              width: 100%;
              box-sizing: border-box;
              background-color: $thumbnail-bg;
              
              .swiper-wrapper {
                
                .swiper-slide {
                  height: 100%;
                  opacity: 0.4;
                  
                  img {
                    height: 100%;
                    width: 100%;
                  }
                }
                
                .swiper-slide-thumb-active {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      
      .ps-pagenation-container {
        margin: 30px 0;
        
        .pagination-wrap {
          padding: 20px 0;
          border-top: 1px solid $beige-bg;
          border-bottom: 1px solid $beige-bg;
          width: 100%;
          background-color: $beige-bg-2;
          
          .pagination-list {
            display: table;
            margin: 0 auto;
            
            .pagination-item {
              display: table-cell;
              
              .is-current {
                border-bottom: 2px solid $beige;
                padding: 0 0.9rem;
                line-height: 2rem;
                font-weight: bold;
                display: block;
              }
              
              .pagenation-num {
                display: inline-block;
                color: #13131e;
                text-align: center;
                box-sizing: border-box;
                min-width: 2.2rem;
                height: 2.2rem;
                
                &:not(.is-current) {
                  position: relative;
                  border-top: 1px solid $beige-bg;
                  border-bottom: 1px solid $beige-bg;
                  background-color: $white;
                  padding: 0 0.7rem;
                  line-height: 2rem;
                  text-decoration: none;
                  
                  &:hover {
                    background-color: $pagenation-hover-btn;
                    color: $white;
                  }
                }
              }
            }
            
            .arrow-btn {
              
              a {
                text-decoration: none;
                color: $beige;
                
                &:hover {
                  color: $star;
                }
              }
            }
            
            .first {
              padding-right: 10px;
            }
            
            .prev {
              padding-right: 10px;
            }
            
            .next {
              padding-left: 10px;
            }
            
            .last {
              padding-left: 10px;
            }
          }
        }
      }
      
      .ps-notice-container {
        background-color: $notice-bg;
        text-align: center;
        padding: 15px;
        
        p {
          
          i {
            color: $notice-icon;
          }
          
          a {
            text-decoration: none;
            color: $a-blue;
            
            &:hover {
              border-bottom: 1px solid $a-blue;
            }
          }
        }
      }
    }
  }
}