@import 'users/shared/custom-variables';
@import 'users/shared/font-size';
@import 'users/shared/font-weight';
@import 'users/shared/footer';

@import 'devise/registrations/new';

/* universal */

body {
  background-color: $white;
}

footer {
  background-color: $black;
  color: $white;
  padding: 0px 20px 10px;
}