<p><%= "#{@resource.email}様" %>
<p>古着屋サイト、ビンクロの仮登録メールです。</p>
<p>覚えのない方は、削除していただいてかまいません。</p>

<p>ビンクロの会員登録をしていただくにあたって、下記のリンクをクリックし、ログイン画面にて先程入力されたメールアドレスとパスワードを入力してください。<br>ログイン画面での入力が完了して会員登録となります。</p>

<p><%= link_to 'ログイン画面', confirmation_url(@resource, confirmation_token: @token) %></p>

