<p><%= "#{@resource.email}様" %>
<p>古着屋サイト、ビンクロのパスワード再設定確認メールです。</p>
<p>覚えのない方は、削除していただいてかまいません。</p>

<p>パスワード再設定をしていただくにあたって、下記のリンクをクリックし、遷移したページにて新しいパスワードを入力してください。<br>入力が完了してパスワード再設定となります。</p>

<p><%= link_to 'パスワード再設定画面', edit_password_url(@resource, reset_password_token: @token) %></p>