<section class='search-prefectures-section'>
  <div class='search-prefectures-container'>
    <h2 class='search-prefectures-title fw-700'>都道府県から探す</h2>
    <div class='search-prefectures-button-container'>
      <ul class='search-prefectures-button-ul'>
        <% @prefectures.each do | prefecture | %>
          <li>
            <%= link_to prefecture_path(prefecture.code), class: 'search-prefectures-button-a' do %>
              <span class='search-prefectures-button-span'><%= prefecture.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>